<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>app test</title>
    
    <!-- build:css /assets/module/css/base.css -->
    <!-- /build -->

    <!-- build:css /dist/app/app.css -->
    <!-- /build -->

    <!-- build:css /assets/app/app.css -->
    <!-- /build -->

    <!-- build:js /dist/app/app.js -->
    <!-- /build -->

    <!-- build:js /assets/app/app.js -->
    <!-- /build -->

    <!-- build:remove -->
    <style>@@style</style>
    <script src="/static/basket/basket.js?000"></script>
    <script>
        basket.require({url:'/dist/css/global.css',key:'css',unique:@@css,execute:false})
        .then(function(responses) {
            _stylesheet.appendStyleSheet(responses[0], function() {
                basket.require({url:'/dist/app/app.js',key:'js',unique:@@js})
            })
        })
    </script>
    <!-- /build -->
</head>
<body>
    <h1>test page</h1>
    <div class="app">one</div>
    <div class="app">two</div>
    <div class="app">three</div>
</body>
</html>
