@@include('reset.css')

h1 {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 30px;
}

div {
    width: 100%;
    height: 100px;
    background: grey;
    margin-top: 10px;
    text-align: center;
    padding-top: 10px;
}

div.active {
    background: #59c8ec;
}
